<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>tx_zsyht</id>
<name>天兴工作室 自适应后台</name>
<url>http://www.txcstx.cn/post/839.html</url>
<note>天兴工作室 zblog自适应后台</note>
<description>天兴工作室 简单zblog自适应后台</description>
<path></path>
<include>include.php</include>
<level>1</level>
<author>
  <name>天兴工作室</name>
  <email>admin@txcstx.cn</email>
  <url>http://www.txcstx.cn/</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>150101</adapted>
<version>1.1</version>
<pubdate>2015-09-20</pubdate>
<modified>2015-09-28</modified>
<price>0</price>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>